# Comely-IO App Configuration
# https://github.com/comely-io/abstract-docker-app

# Administration Panel
# Listening Port; Default value is 2087 (Cloudflare compatible port)
ADMIN_PORT=2087
# SSL/TLS Configuration;
ADMIN_SSL_PROTOCOLS=TLSv1 TLSv1.1 TLSv1.2 TLSv1.3
# Certification and Private key files must be location in ./ssl/*
ADMIN_SSL_CRT=admin_default.crt
ADMIN_SSL_KEY=admin_default.key

# API
# Listening Port; Default value is 8443 (Cloudflare compatible port)
API_PORT=8443
# SSL/TLS Configuration;
API_SSL_PROTOCOLS=TLSv1 TLSv1.1 TLSv1.2 TLSv1.3
# Certification and Private key files must be location in ./ssl/*
API_SSL_CRT=api_default.crt
API_SSL_KEY=api_default.key
