@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@media (min-width: 768px) {
    body {
        margin-top: 60px;
    }
}

input, button, select, option, label, th, textarea,
.dropdown-menu, .dropdown-menu > li > a, .panel-title,
.noty_message, .noty_text,
.input-group-addon, .input-group-addon * {
    font-weight: inherit !important;
    font-size: inherit !important;
}
